<mat-toolbar>
  <div class="logo">
    <img src="../../../../assets/logo-fastservice.png" alt="VasconLogo" class="logo-img">
  </div>
  <span class="example-spacer"></span>
  <div class="menu-options">
    <a mat-button class="menu-option" aria-label="Inicio" (click)="home()">Inicio</a>
    <a mat-button class="menu-option" aria-label="Recetas" (click)="recetas()">Recetas</a>
    <a mat-button class="menu-option" aria-label="Ingresar Recetas" (click)="addReceta()">Ingresar Recetas</a>
  </div>
</mat-toolbar>
