<mat-toolbar>
  <div class="logo">
    <img src="../../../../assets/images/logo.png" alt="VasconLogo" class="logo-img">
  </div>
  <span class="example-spacer"></span>
  <div class="menu-options">
    <a mat-button class="menu-option" aria-label="Inicio" (click)="home()">Inicio</a>
    <a mat-button class="menu-option" aria-label="Nosotros" (click)="aboutUs()">Nosotros</a>
    <a mat-button class="menu-option" aria-label="Servicios" (click)="services()">Servicios</a>
    <a mat-button class="menu-option" aria-label="Proyectos" (click)="projects()">Proyectos</a>
    <a mat-button class="menu-option" aria-label="Contacto" (click)="contact()">Contacto</a>
  </div>
</mat-toolbar>
