<form (submit)="onSubmit()" #fastFoodForm='ngForm'>
  <mat-form-field><input matInput placeholder="Name" name="Name" required [(ngModel)]="fastFoodData.name"></mat-form-field>
  <mat-form-field><input type="text" matInput placeholder="Duration" name="duration" required [(ngModel)]="fastFoodData.duration"></mat-form-field>
  <mat-form-field><input type="text" matInput placeholder="Type" name="type" required [(ngModel)]="fastFoodData.type"></mat-form-field>
  <mat-form-field><input type="text" matInput placeholder="Stars" name="stars" required [(ngModel)]="fastFoodData.stars"></mat-form-field>

  <ng-container *ngIf="isEditMode; else elseTemplate">
    <button mat-button color="primary">Update</button>&nbsp;
    <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
  </ng-container>&nbsp;
  <ng-template #elseTemplate>
    <button mat-button color="primary">Add </button>
  </ng-template>
</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="stars">
    <th mat-header-cell *matHeaderCellDef> Stars </th>
    <td mat-cell *matCellDef="let element"> {{element.stars}} </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button color="accent" (click)="editItem(element)"><mat-icon>edit</mat-icon></a>
      <a mat-raised-button color="warn" (click)="deleteItem(element.id)"><mat-icon>delete</mat-icon></a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
